/* General styles for all menus */
.cbp-spmenu {
	background:#eb3c96;position:fixed;overflow-y:auto;overflow-x:hidden;-webkit-box-shadow:0px 0 5px 5px rgba(0,0,0,0.2);-moz-box-shadow:0px 0 5px 5px rgba(0,0,0,0.2);box-shadow:0px 0 5px 5px rgba(0,0,0,0.2);
}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
	width: 280px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
	left: -280px;
}
.cbp-spmenu-right {
	right: -280px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}
.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}
/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {
	top: -150px;
}
.cbp-spmenu-bottom {
	bottom: -150px;
}
.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}
.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 280px;
}
.cbp-spmenu-push-toleft {
	left: -280px;
}
/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/*.cbp-spmenu{background:#eb3c96;-webkit-box-shadow:0px 0 5px 5px rgba(0,0,0,0.2);-moz-box-shadow:0px 0 5px 5px rgba(0,0,0,0.2);box-shadow:0px 0 5px 5px rgba(0,0,0,0.2);position:fixed;overflow-y:auto;overflow-x:hidden;}


.cbp-spmenu ul{width:100%;}
.cbp-spmenu ul li{}
.cbp-spmenu ul li#closeBtn{cursor:pointer;font-size:14px;padding:20px 2.5%;color:#017299;text-decoration:none;font-weight:700;text-transform:uppercase;background:#e0f3f7;border-bottom:3px solid #30bccf;}
.cbp-spmenu ul li a{display:block;font-size:14px;padding:15px 2.5%;color:#353535;text-decoration:none;font-weight:700;text-transform:uppercase;background:url(../images/common/menu-enter.png)no-repeat;background-position:135px center;}
.cbp-spmenu ul li.homeMobile a{background:none;}
.cbp-spmenu ul li#closeBtn a{background:#e0f3f7;}
.cbp-spmenu ul li a.current{color:#30bccf;background:url(../images/common/drop-down-icon.png)no-repeat;background-position:135px center;}
.cbp-spmenu ul li.homeMobile a.current{background:none;}
.cbp-spmenu ul li .navSubMobileContents{background:#FFFFFF;width:100%;padding:10px 0;border-bottom:none;-webkit-box-shadow:inset 0px 11px 8px -10px rgba(0,0,0,0.2),inset 0px -11px 8px -10px rgba(0,0,0,0.2);-moz-box-shadow:inset 0px 11px 8px -10px rgba(0,0,0,0.2),inset 0px -11px 8px -10px rgba(0,0,0,0.2);box-shadow:inset 0px 11px 8px -10px rgba(0,0,0,0.2),inset 0px -11px 8px -10px rgba(0,0,0,0.2);display:none;}
.cbp-spmenu ul li .navSubMobileContents li{padding:0 15px;}
.cbp-spmenu ul li .navSubMobileContents li a{font-size:14px;line-height:18px;color:#0d0d0d;background:url(../images/common/menu-level2-icon.png)no-repeat;background-position:left center;padding:5px 0 5px 10px;height:38px;text-transform:uppercase;display:block;}
.cbp-spmenu ul li .navSubMobileContents li ul li a{font-size:12px;line-height:14px;color:#898989;text-decoration:none;background:url(../images/common/menu-level3-icon.png)no-repeat;background-position:left 5px;padding:5px 0 5px 20px;display:block;height:auto;font-weight:600;}
.cbp-spmenu ul li .navSubMobileContents li ul li ul{margin-left:10px;}
.cbp-spmenu ul li .navSubMobileContents li ul li ul li a{font-size:12px;line-height:14px;color:#898989;text-decoration:none;background:url(../images/common/sitemap-submenu-icon.png)no-repeat;background-position:left 5px;padding:5px 0 5px 20px;height:auto;display:block;font-weight:600;}
.cbp-spmenu ul li .navSubMobileContents li .single{padding-top:10px;display:block;}

.cbp-spmenu-vertical{width:280px;height:100%;top:0;z-index:1000;}
.cbp-spmenu-horizontal{width:100%;height:150px;left:0;z-index:1000;overflow:hidden;}
.cbp-spmenu-horizontal h3{height:100%;width:20%;float:left;}
.cbp-spmenu-horizontal a{float:left;width:20%;padding:0.8em;border-left:1px solid #258ecd;}
.cbp-spmenu-left{left:-90%;}
.cbp-spmenu-right{right:-100%;}
.cbp-spmenu-left.cbp-spmenu-open{left:0px;}
.cbp-spmenu-right.cbp-spmenu-open{right:0px;}
.cbp-spmenu-top{top:-150px;}
.cbp-spmenu-bottom{bottom:-150px;}
.cbp-spmenu-top.cbp-spmenu-open{top:0px;}
.cbp-spmenu-bottom.cbp-spmenu-open{bottom:0px;}
.cbp-spmenu-push{overflow-x:hidden;position:relative;left:0;}
.cbp-spmenu-push-toright{left:280px;}
.cbp-spmenu-push-toleft{left:0;}
.cbp-spmenu,
.cbp-spmenu-push{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}*/
/*
@media screen and (max-width:55.1875em){.cbp-spmenu-horizontal{font-size:75%;height:110px;}
.cbp-spmenu-top{top:-110px;}
.cbp-spmenu-bottom{bottom:-110px;}
}
@media screen and (max-height:26.375em){.cbp-spmenu-vertical{font-size:90%;width:190px;}
.cbp-spmenu-left,
.cbp-spmenu-push-toleft{left:-190px;}
.cbp-spmenu-right{right:-190px;}
.cbp-spmenu-push-toright{left:190px;}
}
@media screen and (max-width:400px){.cbp-spmenu ul li#closeBtn{padding:21px 2.5%;}
.cbp-spmenu .basicLinksMobile .basicLinksMobileShow{display:block;}
.cbp-spmenu .basicLinksMobile .basicLinksMobileHide{display:none;}
}
*/